* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}
body {
  background-image: url("../images/moving-couch.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.container {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 450px;
  margin-top: 100px;
  border-radius: 5px;
  box-shadow: 2px 5px 8px rgba(85, 83, 83, 0.3);
}

.container .logo {
  font-size: 50px;
  font-weight: bold;
  color: #305973;
  margin-top: 30px;
}
.button {
  min-width: 288px;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(54, 54, 54, 0.3);
  border: none;
}
.log-in {
  background: #ef7e56;
  color: white;
  border: 1px solid #ef7e56;
  transition: 150ms ease-in-out;
}

.log-in:hover {
  background: #f0632f;
  border: 1px solid #ef7e56;
}
.form {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-item {
  /* margin: 20px; */
  display: flex;
  flex: 1;
  margin: 10px;
  text-align: center;
  padding: 10px;
}
.forget-pass {
  margin: 20px;
}
.forget-pass a {
  color: #305973;
  text-decoration: none;
}
::placeholder {
  color: #305973;
  opacity: 0.5;
  font-weight: 100;
}
.form input {
  color: #305973;
}
input:focus {
  outline: none;
  background-color: #f9f9f9;
}
