* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 5px;
  font-size: 16px;
}
/* Navbar*********************************** */
.nav-content {
  display: flex;
  justify-content: flex-start;
  margin-left: 15%;
  color: #305973;
}
.nav-content div {
  font-size: xx-large;
  font-weight: bold;
  color: #305973;
}
.wrapper {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 30px;
}
/* Section ********************************** */
.content {
  display: flex;
  justify-content: flex-start;
  gap: 350px;
}

.img-box img {
  width: 100%;
  height: 500px;
  margin-top: 150px;
}
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.inputs div {
  margin-top: 30px;
}
.inputs div input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #305973;
  padding: 5px;
}
.inputs div input:focus {
  outline: none;
}
.inputs div textarea {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  border: 1px solid #305973;
  padding: 5px;
}
.inputs div textarea:focus {
  outline: none;
}
#imageUpload {
  display: none;
}

#profileImage {
  cursor: pointer;
}

#profile-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 2px solid #305973;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#profile-container img {
  width: 250px;
  height: 250px;
}
label {
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
  color: #305973;
}
.form button {
  margin-top: 15px;
  background-color: #305973;
  border: 1px solid #305973;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}
.form button:hover {
  background-color: #203b4d;
  border: 1px solid #305973;
}
